<div class ="content">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h5 class="title">Araba Güncelle</h5>
          </div>
          <div class="card-body">
              <form [formGroup]="updateCarFormGroup">
                  <div class="mb-3">
                    <label for="id">id</label>
                      <div class="form-group">
                        <input
                        formControlName="id"
                        class="form-control"
                        type="text"
                        placeholder="{{ id }}"
                        readonly
                      />
                      </div>  
                  </div>
                  <div class="mb-3">
                    <label for="brandId">Marka id</label>
                    <div class="form-group">
                        <input type="number"
                         id="brandId"
                         formControlName = "brandId" 
                         class="form-control"
                         placeholder="Marka Id"/>
                    </div>
                </div>
                <div class="mb-3">
                  <label for="colorId">Renk</label>
                  <div class="form-group">
                      <input type="number"
                       id="colorId"
                       formControlName = "colorId" 
                       class="form-control"
                       placeholder="Renk"/>
                  </div>
              </div>
              <div class="mb-3">
                <label for="modelYear">Model Yılı</label>
                <div class="form-group">
                    <input type="number"
                     id="modelYear"
                     formControlName = "modelYear" 
                     class="form-control"
                     placeholder="Model Yılı"/>
                </div>
            </div>
            <div class ="mb-3">
              <label for="dailyPrice">Günlük Fiyatı</label>
              <div class="form-group">
                  <input type="number"
                   id="dailyPrice"
                   formControlName = "dailyPrice" 
                   class="form-control"
                   placeholder="Günlük Fiyatı"/>
              </div>
             </div>
             <div class ="mb-3">
              <label for="description">Araba ismi</label>
              <div class="form-group">
                  <input type="text"
                   id="description"
                   formControlName = "description" 
                   class="form-control"
                   placeholder="Araba ismi"/>
              </div>
             </div>
              </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-primary"
              (click)="uptadeCar()"
              
            >
              Save changes
            </button>
          </div>
      </div>
  </div>
</div>