<div class ="container">
    <app-navi></app-navi>
    <div class="row">
        <div class ="col-md-5">
            <app-car></app-car>
        </div>
        <div class = "col-md-4">
            <app-car-detail></app-car-detail>
        </div>
        <div class="col-md-3">
            <app-rental></app-rental>
        </div>
        
    </div>
    <router-outlet></router-outlet>
</div>
<!-- 
<app-color></app-color>
            <app-customer></app-customer>
                        <app-car-images></app-car-images>
            <app-rental></app-rental>

 -->
