<div class="row">
  <div class="col-md-2">
    <select [(ngModel)]="branddFilter" class="form-select" aria-label="marka seç">
      <option value="0">Marka seç</option>
      <option [value]="brand.brandId" *ngFor="let brand of brands">{{brand.brandName}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <select [(ngModel)]="colorrFilter" class="form-select" aria-label="Default select example">
      <option value="0">Renk seç</option>
      <option [value]="color.id" *ngFor="let color of colors">{{color.colorName}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <button  routerLink="/cars/color/{{colorrFilter}}/brand/{{branddFilter}}" style="width: 100%;"
      class=" btn btn-outline-dark" type="button"> filtrele</button>
  </div>
  <div class="col-md-2">
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
      placeholder="Aranacak ifadeyi giriniz">
  </div>
  <div *ngIf="filterText.length>2" class="alert alert-success" role="alert">
    {{filterText}} aradınız
  </div>
</div>



<div class="row mt-1" style="margin-left: 1%;">

  <div *ngFor="let car of cars | filterPipe:filterText" class="card mt-2 mr-2" style="width: 18rem;margin-right: 10px;">

    <img *ngIf="car.imagePath" src="baseUrl+car.imagePath"  type="button" routerLink="/cars/carDetails/{{car.carId}}"  class="card-img-top"
      style="object-fit: cover; margin-top: 10px;" width="100" height="50%" alt="HATA">

    <img *ngIf="!car.imagePath" src="assets/images/rent.jpeg" type="button" routerLink="/cars/carDetails/{{car.carId}}" class="card-img-top"
      style="object-fit: cover; margin-top: 10px;" width="100" height="50%" alt="HATA">
    <div class="card-body">
      

    </div>
    
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Model yılı: {{ car.modelYear }}</li>
        <li class="list-group-item">Renk adı: {{ car.colorName }} </li>
        <li class="list-group-item">Marka adı: {{ car.brandName }}</li>
        <li class="list-group-item">Günlük fiyat: {{ car.dailyPrice }}</li>
        <li class="list-group-item">Araç açıklaması: {{ car.carName}}</li>
  
      </ul>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" routerLink="/cars/carDetails/{{car.carId}}" class="btn btn-sm btn-outline-secondary">Detay</button>
        </div>
    </div>
  </div>
</div>